/*Variabel*/

$green:#688816;

/*header styling*/

/*logo*/

.logo {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 120px;
  min-height: 120px;
}

.header {
    display: flex;
    flex-flow: row;
    padding-left: 30px;
}

/*intro-styling*/

.intro{
    display: flex;
    flex-flow: column;
    color: white;
    text-align: center;
    background-color: $green;
}

/*text styling*/

h1 {
  color: $green;
  font-family: sans-serif;
  font-size: 4em;
  padding: 0;
  margin: 0;
}

h2 {
  color: $green;
  font-family: sans-serif;
  font-size: 2em;
  padding: 2;
  margin: 0;
}

h3 {
  font-family: serif;
  font-size: 2em;
  margin: 0px 0px 0px 20px;
}

h4 {
  font-family: sans-serif;
  font-size: 1, 5em;
  margin: 0em 0em 0em 1em;
}

p {
  font-family: "arial", sans-serif;
  font-size: 90%;
  margin: 10px 0px 10px 20px;
}

/*dividing line styling*/

hr {
  width: 95%;
  border-color: #688816;
}

/*Main area styling*/

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

article {
    display: flex;
    flex-flow: column wrap;
    margin: 0;
}

/* photo section styling*/

.foton {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.foto{
    margin: 4px;
    border-style: solid;
    border-color: black;
    border-width: 1px
}

/*student discount section styling*/

.student{
    background-color: $green;
    background:lighten($green, 30%);
    color: beige;
    border-radius: 7px;
    padding: 10px;
}

/*contact section styling*/

.contact {
    display: flex;
    flex-flow: column;
    align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: $green;
  padding: 5px;
  width: 33vw;
  min-width: 300px;
    margin-top: 10px;
  margin-bottom: 10px;
}

.contact-text {
  padding: 5px;
}
/*form styling*/

form {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.cta {
  width: 90%;
  color: white;
  background: $green;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  text-align: center;
}

input,
textarea {
  width: 90%;
  margin-bottom: 7px;
  border: 0, 5;
  border-color: slategrey;
  padding: 5px;
  background: white;
  line-height: 20px;
  font-size: 20px;
}
/*footer styling*/

footer {
    display: flex;
    justify-content: center;
  width: 100 vw;
  background-color: $green;
  height: 20vh;
  color: white;
  text-align: center;
}

@media (min-width: 600px){
    section{
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
    }
}
        

        