/*Variabel*/

$green:#688816;

/*mixins*/

@mixin large-text {
    font-family: "Century Gothic", Arial, sans-serif;
    padding:0;
    margin:0;
 }

@mixin small-text {
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 90%;
    padding:0;
    margin:0;
}


/*header styling*/

.heading {
    display: flex;
    flex-flow: row;
    margin-left: 2%;
    padding:0;
        
    .logo {
        background-image: url(../images/logo.png);
        background-repeat: no-repeat;
        background-size: 100%;
        min-width: 120px;
        min-height: 120px;
        }
         /*logo text styling*/
            .logo_text {
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;
                }
        }
              
            h1{
                @include large-text;
                color: $green;
                font-size: 4em;
                padding:0;
                margin:0;
                }  
    
                h2 {
                    @include large-text;
                    color: $green;
                    font-size: 2em;
                    font-style: italic;
                    padding:0;
                    margin:0;
                    }

  /*Green-bar-styling*/

.intro{
    display: flex;
    flex-flow: column;
    background-color: $green;
    margin:0;
    padding: 0, 0, 1em, 0;
    width: 100%;
    
        h3 {
            @include large-text;
            color: white;
            font-size: 20px;
            padding:0;
            margin: 1em 0em 0em 1em;
            text-align: center;
            font-weight: normal;
            }

             p {
                @include small-text;
                color: white;
                text-align: center;
                padding-bottom: 1em;
                padding-top: 1em;
                }
}

/*Main area styling*/

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
/* photo section styling*/

        .foton {
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            padding: 10px;
       

            .foto{
                margin: 4px;
                border-style: solid;
                border-color: $green;
                border-width: 2px;
                padding: 10px;
                }
            }

/*student discount section styling*/

.student{
    background-color: $green;
    background:lighten($green, 30%);
    border-radius: 7px;
    padding: 20px;
        
        h2 {
            @include large-text;
            color: black;
            font-size: 23px;
            font-style: italic;
        }
    
        p {
            @include small-text;
            color: black;
        }
}

/*contact section styling*/

.contact {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 30vw;
    min-width: 300px;        
    margin: 25px;
    border-style: solid;
    border-color: $green;
    border-width: 2px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
    .map{
        box-shadow: 5px 5px 5px #888888;
        }
        .contact-text {
          padding: 7px;
        }
            
            h2 {
                @include large-text;
                color: $green;
                font-size: 23px;
                }
            p{
                @include small-text;
                padding-top: 8px;
                padding-bottom: 12px;
            }


/*form styling*/

form {
    display: flex;
    flex-flow: column;
    justify-content: center;

        input {
          width: 90%;
          margin-bottom: 7px;
          border: 0, 5;
          border-color: slategrey;
          padding: 5px;
          background: white;
          line-height: 20px;
          font-size: 20px;
        }

        .send {
          width: 90%;
          color: white;
          background: $green;
          text-decoration: none;
          padding: 10px;
          display: inline-block;
          text-align: center;
        }
}
/*footer styling*/

footer {
    @extend .intro;
}

@media (min-width: 600px){
    section{
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
    }
}
        

        