/*Variabel*/

$green:#688816;

$light_green:#b3c38a;

body{
    height:100%;
    background: linear-gradient(0deg, $green, white) no-repeat;
    padding: 2%;
    /*font-size: 2 em;*/
}

/*mixins*/

@mixin large-text {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    padding:0;
    margin:0;
 }

@mixin small-text {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    /*font-size: 90%;*/
    padding:0;
    margin:0;
}

/*header styling*/

.heading {
    display: flex;
    flex-flow: row;
    margin-left: 2%;
    padding:0;
        
    .logo {
        background-image: url(../images/logo.png);
        background-repeat: no-repeat;
        background-size: 100%;
        min-width: 100px;
        min-height: 100px;
        padding:0;
        }
         /*logo text styling*/
            .logo_text_box {
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;
                }
                
                .logo_text{
                    font-family:Georgia, serif; 
                    font-style: italic; 
                    font-weight: bold;
                    color: $green;
                    font-size: 300%;
                    padding:0;
                    margin:0;
                    }
                h2{
                    @include small-text;
                    font-size: 140%;
                    color: black;
        }
}

.intro {
    display: flex;
    flex-flow: column;
    padding: 2%;
    max-width: 600px;
        }

                h3 {
                    @include large-text;
                    color: black;
                    font-size: 200%;
                    padding:0;
                    margin: 0;
                    }

                     p {
                        @include small-text;
                        color: black;
                          padding: 0;
                        }

                        .social_media{
                          display: flex;
                          align-items: baseline; 
                          justify-content:flex-end;
                        padding-top:0;                         margin:0;
                        }

                .fa-facebook-square,
                .fa-twitter-square,
                .fa-instagram {
                    padding-right: 1em;
                    font-size: 2em;
                    color:$green;
                    @media (max-width: 600px){display: none;
                    }
                }
/*Main area styling*/

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
    
    .foto_and_student{
        display: flex;
        flex-flow: column;
}
/* photo section styling*/

        .foton {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 10px;
            padding: 0px;
            max-width: 600px;
            margin:0;
       

            .foto{
                margin: 4px;
                border-style: solid;
                border-color: $green;
                border-width: 2px;
                padding: 5px;
                }
            }

/*student discount section styling*/

.student{
    background-color: $green;
    background:lighten($green, 50%);
    border-radius: 7px;
    padding: 20px;
    margin: 2%;
        
        .student_text {
            @include large-text;
            color: black;
            font-size: 23px;
            font-style: italic;
        }
    
        p {
            @include small-text;
            color: black;
        }
}

/*contact section styling*/

.contact {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 30vw;
    min-width: 300px;        
    margin:0;
    border-style: solid;
    border-color: $green;
    border-width: 2px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
    .map{
        box-shadow: 5px 5px 5px #888888;
        }
        .contact-text {
          padding: 7px;
        }
            
            h2 {
                @include large-text;
                color: $green;
                font-size: 23px;
                }
            p{
                @include small-text;
                padding-top: 10px;
                padding-bottom: 12px;
            }


/*form styling*/

form {
    display: flex;
    flex-flow: column;
    justify-content: center;

        input {
          width: 90%;
          margin-bottom: 7px;
          border: 0, 5;
          border-color: slategrey;
          padding: 5px;
          background: white;
          line-height: 20px;
          font-size: 20px;
        }

        .send {
        @include small_text;
          width: 87%;
          color: white;
          background: $green;
          text-decoration: none;
          padding: 10px;
          display: inline-block;
          text-align: center;
        border-style: solid;
            border-width: 1px;
            border-color: black;
        }
}
/*footer styling*/

footer {
    display:flex;
    justify-content: center;
    margin-top: 3%;
}

p.foot_text{
    @include small-text;
    color: white;
    text-align: center;
}
    

@media (min-width: 600px){
    section{
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
    }
}
        

        